/* main css here */

body {
    margin: 0px !important;
}

.screen{
    width: 100vw;
    width: 100vw;
    position: relative;
}

.box{
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50px;
}